body{
    overflow-x:hidden;
    background-color: #000;
}
ul li{
    list-style-type: none;
}
a{
    list-style: none;
    text-decoration: none;
}
.navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
    height: 90px;
}
.navbar-default .navbar-nav>li>a{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin: 0 25px;
    color: #595959;
}
.ct-submenu ul li{
    /*float: left;
    width: 25%;
    list-style-type: none;*/
}
.ct-submenu>ul>li>a {
    /*display: block;
    padding: 5px 10px;
    color: #595959;*/
}
.sub-menu{
    /*position: absolute;
    width: 100%;
    left: 0;
    top: 75px;
    z-index: 2000;*/
    /*display: none;*/
}
.submenu{
    position: absolute;
    width: 100%;
    left: 0;
    top: 95px;
    z-index: 300;
    display: none;
}
.navbar{
    border-radius: 0 !important;
}
.navbar-nav li:hover .submenu{
    display: block;
}
.navbar-nav li:hover .ic-phimle{
    background-position: 0 -44px;
}
.navbar-nav li:hover .ic-phimle{
    background-position: 0 -44px;
}
.navbar-nav li:hover .ic-phimbo{
    background-position: -64px -44px;
}
.navbar-nav li:hover .ic-tintuc{
    background-image: url(../images/icon_news_hover.png);
}
.navbar-nav li:hover .ic-more{
    background-position: -192px -44px;
}
.navbar li a:hover{
    color: #F44336 !important;
}

.submenu-ct {
    min-width: 560px;
    margin-top: 5px;
    background-color: #FFF;
    padding: 10px 0;
    border-top: 3px solid #F44336;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.submenu-ct ul {
    padding: 0;
}
.submenu-ct ul li {
    float: left;
    width: 25%;
    list-style-type: none;
}
.submenu ul li a {
    display: block;
    padding: 5px 10px;
    color: #595959;
}
.navbar{
    background-color: #ffffff;
    margin-bottom: 0;
}
.ic-phimle{
    background-image: url(../images/icon-menu.png);
    background-position: 0 0;
    height: 44px;
    width: 64px;
    display: block;
    margin-bottom: 5px;
}
.ic-phimbo{
    background-image: url(../images/icon-menu.png);
    background-position: -64px 0;
    height: 44px;
    width: 64px;
    display: block;
    margin-bottom: 5px;
}
.ic-tintuc{
    background-image: url(../images/icon_news.png);
    background-size: contain;
    background-position: 13px;
    height: 33px;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;

}
.ic-more{
    background-image: url(../images/icon-menu.png);
    background-position: -192px 0;
    height: 44px;
    width: 64px;
    display: block;
    margin-bottom: 5px;
}

.ip-search{
    float: right;
    margin-top: 20px;
    padding-right: 20px;
}
#searchct{
    padding-top: 35px;
    width: 255px;
}
.bgMenu{
    background: #fff;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 200;
    border-top: 3px solid #F44336;
}
.carousel-indicators li img{
    height: 42px;
    width: 42px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #FFF;
    border-radius: 50px;
}
#slider .item{
    outline: none;
}
.nav-banner-pre{
    z-index: 1;
    position: absolute;
    left: -4px;
    top:40%;
    width: 64px;
    height: 64px;
    cursor: pointer;
    background-image: url(../images/pre.png);
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s,opacity 0.3s;
    transition: transform 0.3s,opacity 0.3s
}
.nav-banner-next{
    position: absolute;
    right: -4px;
    top:40%;
    width: 64px;
    height: 64px;
    cursor: pointer;
    background-image: url(../images/next.png);
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s,opacity 0.3s;
    transition: transform 0.3s,opacity 0.3s
}
.btn-circle{
    height: 42px;
    width: 42px !important;
    overflow: hidden;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
    /*border: 2px solid #FFF;
    border-radius: 50px;   */
}
.btn-circle img{
  
    /*margin-right: 10px;*/
    height: 42px;
    width: 42px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #FFF;
    border-radius: 50px;
}
.slider-sclik img{
    /*height: 400px;*/
    max-width: 100%;
    max-height: 100%
}
.slider-nav .slick-list{
    padding: 0 !important;
    position: absolute;
    overflow: inherit;
    bottom: 35px;
 }   
.slider-nav .slick-current img{
    border-color: #F44336;
}
.banner-info{
    width: 350px;
    position: absolute;
    right: -350px;
    top: 0px;
    background-color: rgba(18,17,17,0.7);
    padding: 15px;
    color: #fff;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.slick-dots {
    position: absolute;
    bottom: 6%;
    left: 10%;
    margin: 0;
    padding: 0;
}
.slick-dots li {
    padding: 0 30px 0 0;
    float: left;
    list-style-type: none;
}

.slick-dots li button{
        font-size: 0px;
        height: 42px;
        width: 42px;
        padding: 0px;
        border: none;
        border-radius: 50%;
        background: url('../images/diep-van-3-thumb.jpg') no-repeat;
        background-size: cover;
        border: 2px solid #FFF;
}
.slick-dots li.slick-active button{
        border-color: #F44336;
}
.slick-dots li button:focus{
        outline: none;
}
#slider .slick-slider:hover .nav-banner-next, #slider .slick-slider:hover .nav-banner-pre{
    opacity: 1;
}
.slick-current:hover .banner-info{
    right: 0;
}
.banner-info .info-title{
    color: #F44336;
    font-size: 1.3em;
    display: block;
    padding-bottom: 20px;
}
.banner-info .info-content{
    display: block;
    text-align: justify;
    font-size: 1em;
}
.banner-info .info-description{
    font-size: 1em;
    background-color: #676767;
    padding: 11px;
    border-radius: 5px;
    margin-top: 15px;
}
.banner-info .info-description .info-item{
    display: block;
    
    line-height: 1.5em;
}
.banner-info .info-more{
    position: absolute;
    bottom: 76px;
    left: 30px;
}
.btn-view-mv{
    background:#F44336;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}
.btn-view-mv:hover{
    text-decoration: none;
    color: #fff;
}
#sidebar-right{
    height: 400px;
        position: absolute;
    right: 0;
    z-index: 100;
    overflow: hidden;
}
#sidebar-right .block-list{
    list-style-type: none;
    padding: 10px 10px 5px 0px;

}
#sidebar-right .block-list li{
    min-height: 65px;
}
#sidebar-right .imgThumb{
    float: left;
    display: inline-block;
    width: 25%;
}
#sidebar-right .imgThumb img{ 
    width: 90%;
    height: auto;
}
#sidebar-right .block-scroll{
    height: 100%;
    overflow: auto;
}

#sidebar-right .block-scroll:hover{
    
}
#sidebar-right .block-scroll::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
}
#sidebar-right .block-scroll::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-transition: background-color 500ms ease-out 1s;
    -moz-transition: background-color 500ms ease-out 1s;
    -o-transition: background-color 500ms ease-out 1s;
    transition: background-color 500ms ease-out 1s;
}
#sidebar-right .block-scroll:hover::-webkit-scrollbar-track {
    background-color: #eaeaea;
}
#sidebar-right .block-scroll::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 5px;
    -webkit-transition: background-color 500ms ease-out 1s;
    -moz-transition: background-color 500ms ease-out 1s;
    -o-transition: background-color 500ms ease-out 1s;
    transition: background-color 500ms ease-out 1s;
}
#sidebar-right .block-scroll:hover::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
#sidebar-right .block-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
#sidebar-right .block-info{
    display: inline-block;
    float: left;
    width: 70%;
}
#sidebar-right .block-info a{
    color: #fff;
    text-decoration: none;
}

#sidebar-right .block-list li:hover{
    background-color: #2D2C2C;
}
.nav-tabs>li>a,.nav-tabs{
    border: none;
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li>a:hover,.nav-tabs>li.active>a:focus{
    background-color: transparent;
    border: none;
    color: #ff0000;
    cursor: pointer;
}
.top-prev{
    z-index: 1;
    position: absolute;
    left: -4px;
    top:50%;
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-image: url(../images/arr-left.png);
}
.top-next{
    position: absolute;
    right: -4px;
    top:50%;
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-image: url(../images/arr-right.png);
}
.film-img{
    display: block;
    height: 260px;
    overflow: hidden;
    width: 180px;
}
.film-txt{
    position: absolute;
    bottom: 0px;
    /* left: 0; */
    z-index: 1;
    margin: 0;
    padding: 5px 10px;
    width: 100%;
    background-color: hsla(0,0%,0%,0.71);
    line-height: 25px;
    color: #FFF;
}
.film-lick1 .item,.film-lick2 .item,.film-lick3 .item,.film-lick4 .item,.film-lick5 .item,.film-lick6 .item{
    width: 180px;
    height: 260px;
    /*overflow: hidden;*/
    position: relative;
    margin: auto;
    padding-top: 20px;
}
.film-overplay{
    background-image: url(../images/overlay_rich.png);
    background-size: cover;
    height: 60px;
    width: 60px;
    display: inline-block;
    position: relative;
    left: 50%;
    margin-left: -30px;
    /*top: 50%;*/
    margin-top: -40px;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease
}
.link-f:hover .film-overplay{
    opacity: 1;
    filter: alpha(opacity=100);
}

.nav>li>a:focus{
    background-color: transparent;
}
.footer-menu{
    margin-top: 15px;
    background: none repeat scroll 0 0 #1e1e1e;
    padding: 30px 5%;
    width: 100%;
    color: #FFF;
}
.footer-menu .title{
    color: #fff;
}
.footer-menu ul{
    padding: 0;
}
.footer-menu ul li{
    list-style: none;
}
.footer-menu ul li a{
    color: #b0a6a6;
    text-decoration: none;
}
.footer-cp{
    padding: 7px 0 5px;
     background-color: #161616;
}
#copyright{
    text-align: center;
    font-weight: normal;
    color: #585858;
    line-height: 36px;
   

}
.cluetip-close{
    display: none;
}
.film-item .name-vi {
    color: #F44336;
}
 .film-item .name-en {
    /*width: 310px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.film-item p {
    /*margin-bottom: 5px;*/
}
.film-item .tip-info-bottom {
    margin: 0 0 10px;
    padding: 0;
}
.film-item .tip-info-bottom>li {
    float: left;
    list-style-type: none;
}
.ui-widget-header{
    display: none !important;
}
.redTag {
    background-color: #e74c3c;
}
.tagsInfo {
    display: inline-block;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    margin: 0 3px;
}
.tn-btn-view {
    color: #FFF;
    background-color: #67c920;
    border-color: #67c920;
}
.cluetip-jtip {
    font-size: 14px;
    color: #808080;
    line-height: normal;
    background-color: #FFF;
    margin-top: 50px;
}
.tn-btn-view2 {
    color: #FFF;
    background-color: #aeaeae;
    border-color: #aeaeae;
}
.cluetip-jtip .cluetip-inner {
    padding: 10px;
    display: inline-block;
}
.mr05 {
    margin-right: 05px!important;
}
.greenTag {
    background-color: #7bda37;
}
.tn-contentdecs {
    border-top: 1px solid #cccccc;
    color: #727272;
    padding-top: 8px;
    text-align: justify;
}
.tomtat-film{
    display: none;
    box-shadow: rgba(0, 0, 0, 0.498039) 1px 1px 6px;
    background: white;
    width: 390px;
    position: absolute;
    top: 0;
    left: 218px;
    background-color: #fff;
    padding: 10px;
    z-index: 100;
    overflow: initial !important;
}
.leftarrow .tomtat-film:after{
    content: "";
    z-index: 311;
    top: 7px;
    left: -5px;
    background: url('../images/arrowleft.png') no-repeat;
    margin-left: -12px;
    margin-top: 8px;
    width: 17px;
    height: 27px;
    position: absolute;
}
.rightarrow .tomtat-film:after{
    content: "";
    z-index: 311;
    top: 7px;
    left: 100%;
    background: url('../images/arrowright.png') no-repeat;
    margin-left: -12px;
    margin-top: 8px;
    width: 17px;
    height: 27px;
    position: absolute;
        margin-left: -1px;
    margin-top: 8px;
}
.slider-film{
    clear: both;
}
.slide-content{
    background: #fff;
    padding: 10px;
    display: inline-block;
    width: 391px;
    position: absolute;
    top: 76px;
    left: 220px;
    /* right: -120%; */
    z-index: 99999;
    display: none;
}



#top-prev{
    z-index: 1;
    position: absolute;
    left: -4px;
    top:50%;
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-image: url(../images/arr-left.png);
}
#top-next{
    position: absolute;
    z-index: 4;
    right: -4px;
    top:50%;
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-image: url(../images/arr-right.png);
}
.listfilm{
    padding: 0;
}
.slider-film li {
    float: left;
    /*width: 180px;*/
}
#prev-le{
    z-index: 1;
    position: absolute;
    left: -4px;
    top:50%;
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-image: url(../images/arr-left.png);
}
#next-le{
    position: absolute;
    right: -4px;
    top:50%;
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-image: url(../images/arr-right.png);
}
.slider-film .caroufredsel_wrapper{
    overflow: initial !important;
}
.film-item{
    display: block;
    height: 260px;
    /*overflow: hidden;*/
    width: 180px;
    margin: 20px auto;
    position: relative;
}
.film-item:hover > .slide-content{
    display: block;
}
.link-f{
    display: inline-block;
    width: 180px;
    
}
#prev-le{
    z-index: 1;
    position: absolute;
    left: -4px;
    top:50%;
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-image: url(../images/arr-left.png);
}
#next-le{
    position: absolute;
    z-index: 4;
    right: -4px;
    top:50%;
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-image: url(../images/arr-right.png);
}
#phimdc-prev{
    z-index: 1;
    position: absolute;
    left: -4px;
    top:50%;
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-image: url(../images/arr-left.png);
}
#phimdc-next{
    position: absolute;
    z-index: 4;
    right: -4px;
    top:50%;
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-image: url(../images/arr-right.png);
}
#phimbo-prev{
    z-index: 1;
    position: absolute;
    left: -4px;
    top:50%;
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-image: url(../images/arr-left.png);
}
#phimbo-next{
    position: absolute;
    z-index: 4;
    right: -4px;
    top:50%;
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-image: url(../images/arr-right.png);
}
#phimchieurap-prev{
    z-index: 1;
    position: absolute;
    left: -4px;
    top:50%;
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-image: url(../images/arr-left.png);
}
#phimchieurap-next{
    position: absolute;
    z-index: 4;
    right: -4px;
    top:50%;
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-image: url(../images/arr-right.png);
}
#phimsapchieu-prev{
    z-index: 1;
    position: absolute;
    left: -4px;
    top:50%;
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-image: url(../images/arr-left.png);
}
#phimsapchieu-next{
    position: absolute;
    z-index: 4;
    right: -4px;
    top:50%;
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-image: url(../images/arr-right.png);
}

div.clue-right-jtip .cluetip-arrows {
    background: url('../images/arrowleft.png') no-repeat;
    margin-left: -12px;
    margin-top: 8px;
    width: 17px;
    height: 27px;
    position: absolute;

}
div.clue-left-jtip .cluetip-arrows {
    position: absolute;
    background: url('../images/arrowright.png') no-repeat;
    left: 100%;
    margin-left: -1px;
    margin-top: 8px;
    width: 17px;
    height: 27px;
}
.cluetip{
    width: 330px !important;
    overflow: initial !important;
}
.cluetip-jtip .cluetip-arrows {
    border-width: 0;
    background: transparent none;
}
.film-img{
    width: 100%;
}
.owl-controls{
    display: none !important;
}
.owl-carousel .owl-wrapper-outer {
    overflow: initial !important;
}

.slider-nav .slick-track{
    width: 100% !important;
}
#film-detail{
    background-color: #fff;
    padding-top: 90px;
    padding-bottom: 90px;
}
#film-detail .film-video iframe{
    width: 100%;
    margin-bottom: 30px;
}
#film-detail .film-content .title-vn{
    color: #F44336;
}
#film-detail .film-content .description{
    text-align: justify;
}

